.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    position: relative;
    top: 40px;
}

.container img {
    width: 200px;
    z-index: 7;
}

.box {
    background-color: #fafae3;
    height: 300px;
   

}
.text {
    display: flex;
    color: #5c6c65;
    font-family: monospace;
    font-size: 20px;
    z-index: 1;
    margin-top: -15vh;
}


@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgba(82, 30, 61, 0.425),
      0 0 80px rgba(82, 30, 61, 0.425),
      0 0 90px rgba(82, 30, 61, 0.425),
      0 0 100px rgba(82, 30, 61, 0.425),
      0 0 150px rgb(70, 51, 62);
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px rgba(82, 30, 61, 0.425),
      0 0 73px rgba(82, 30, 61, 0.425),
      0 0 80px rgba(82, 30, 61, 0.425),
      0 0 94px rgba(82, 30, 61, 0.425),
      0 0 140px rgba(82, 30, 61, 0.425);
  }
}
  
  
  h1 {
    animation: pulsate 0.11s ease-in-out infinite alternate;     
  }

 
  @keyframes break {
    from {
      transform: rotate(0);
    }
    
    to { 
      transform: rotate(90deg)
      
    }
 }
 
 .start {
  animation-name: break;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
 }

 