
body {
  color: #c2cbc6;
  margin: 0;
}

.main {
  padding: 50px;
  
}

img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.menu {
  display: flex;
  width: 100vw;
  border-bottom: 1px solid;
  background-color: white;

}

.menu a {
  float: left;
  padding: 12px;
  width: 50%;
  text-align: center;
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
  color: #5c6c65;
  text-decoration: none;

}

.menu a:hover {
  color: #ab5d6a;
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
    @media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
    }
    }
}

.svg {
  z-index: 1;
  margin-bottom: -50px;
  margin-left: -40px;
}


.about {
  margin-top: -100px;
  padding: 10%;
  white-space: pre-wrap;
  z-index: 2;
  
}


.about h1, h2 {
  
  text-align: center;
  color: #5c6c65;
  
}

.about p {
  text-align: justify;
  font-size: 17px;
}

.parallax-container {
  background-image: url("first.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  min-height: 50vh; 

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.parallax-container2 {

  background-image: url("second.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  min-height: 50vh; 

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.buffer {

  width: 100%;
  min-height: 10vh;
  background-color: white;
}



hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.footer {
  font-size: 20px;
  margin: 30px;
  text-align: center;
  padding: 2%;
}

.footer a {
  text-decoration: none;
  color: #ab5d6a;
}



html {
  scroll-behavior: smooth;
}

.card {
  position: relative;
}

.card-desc {
  position: absolute;
  width: 100%;
  height: 50vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: white;
  transition: 3s ease-in-out;
  white-space: pre-wrap;

}

.card img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: block;
}

.card:hover .card-desc {
  opacity: 1;
}

.text {
  color:#c2cbc6;
  position: absolute;

  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.skeleton {
  position: relative; 
  cursor: default;
}

.skeleton::after {
  background-image:linear-gradient(
    90deg, 
    #EEEEEE 0%, #EEEEEE 40%,
    #DDDDDD 50%, #DDDDDD 55%, 
    #EEEEEE 65%, #EEEEEE 100%
  );
  background-size: 400%; 
  animation: skeleton 1500ms infinite; 
  content: ''; 
  z-index: 2; 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  top: 0;
  left:0;
  right: 0; 
  bottom: 0; 
  border-radius: 5px;

}

@keyframes skeleton {
  from {background-position: 100% 100%;}
  to {background-position: 0 0;}
}